div
    div(class='user-details')
        div(class='initials-circle') {{$ctrl.user.initials}}
        div(class='data-container')
            div {{$ctrl.user.name}}
            div {{$ctrl.user.rolesText}}
        div(class='button-container')
            button(ng-click='$ctrl.edit = !$ctrl.edit') Edit
    div(class='user-edit-details', ng-if="$ctrl.edit")
        div
            label Username:
            input(type='text' ng-model='$ctrl.user.name')
        div
            label Roles:
            role-selector(roles='$ctrl.user.roles' on-update='$ctrl.updateRoles($ctrl.user, roles)')
